---
import Layout from '../layouts/Layout.astro';
import Songs from '../components/Songs.astro';
---

<Layout>
    <div class="flex gap-6">
        <Songs />
        <Songs />
        <Songs />
    </div>
</Layout>

<style>
    
</style>

<script>
</script>
