---
import Layout from "../layouts/Layout.astro";
import Songs from "../components/Songs.astro";
import axios from "axios"


const LIST_SERVER = await axios.get("https://api.institutoalfa.org/api/songs")

---

<Layout>
    <div>
        {
            LIST_SERVER.data.songs.map(function (valor : any) {
                return <Songs titulo={valor.title} artista={valor.author.name} imagen={valor.album.image.url}/>;
            })
        }
    </div>
</Layout>

<style></style>

<script></script>
