---
---
<nav class="w-full p-4 bg-[#0f0914] flex justify-between">
    <div class="">
        <p class="text-white text-[18px]">MusicPlayer</p>
        <p class="text-[#7f13ec] text-[13px]">Premiun Audio</p>
    </div>

    <div class="flex items-center gap-2">
        <p class="text-white">Jesus Yrady</p>
        <img src="/images/user.png" alt="" class="">
    </div>
</nav>