---
---
<nav class="w-full p-4 bg-[#0f0914] flex justify-between">
    <div class="">
        <img src="" alt="">
        <p class="text-white">MusicPlayer</p>
        <p class="text-[#7f13ec] text-[13px]">Premiun Audio</p>
    </div>

    <div class="flex items-center">
        <img src="/images/search.png" alt="" class="h-8" id="menu-open">
    </div>
</nav>