---

---
<div class="border border-solid border-black rounded-4xl p-6 w-full sm:w-fit flex flex-col gap-4 tarjeta-Cancion">
    <img src="/images/prueba.png" alt="" class="w-[320px]">
    <h3 class="font-bold text-lg">Titulo</h3>
    <div class="flex gap-3">
        <p>Artista</p>
        <p>Duracion</p>
    </div>
</div>